---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
const matches = await import.meta.glob('./posts/*.mdx', { eager: true });
// const posts = Object.values(posts);
---

<Layout title="Welcome to Astro.">
	<main>
		
		<h1 class="text-3xl font-bold underline">Hello And Welcome Everyone  </h1>
		<p class="text-yellow-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione unde deserunt expedita aut aliquid porro ea itaque! Necessitatibus, sunt, odit saepe minus quas, labore eveniet doloribus hic quidem exercitationem ullam.</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	
	
</style>
